<!--
  ~ Copyright (c) 2012. HappyDroids LLC, All rights reserved.
  -->

<launch4jConfig>
  <headerType>gui</headerType>
  <jar>../../../out/desktop-jar/DroidTowers-release.jar</jar>
  <outfile>../../../out/DroidTowers.exe</outfile>
  <errTitle>DroidTowers</errTitle>
  <chdir>.</chdir>
  <customProcName>true</customProcName>
  <icon>DroidTowers.ico</icon>
  <jre>
    <minVersion>1.5.0</minVersion>
  </jre>
</launch4jConfig>
